@model CartPurchaseViewModel

<div class="row checkoutForm">
	<h2> Seu carrinho de compras</h2>
	<h4> Aqui estão os seus pedidos</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Quantidade</th>
				<th>Lanche</th>
				<th class="text-right">Preço</th>
				<th class="text-right">Subtotal</th>
				<th></th>
			</tr>
		</thead>
            <tbody>
                @foreach (var item in Model.CartPurchase.CartPurchaseItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-left">@item.Lunch.Name</td>
                        <td class="text-right">@item.Lunch.Price.ToString("c")</td>
                        <td class="text-right">
                            @((item.Quantity * item.Lunch.Price).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a class="glyphicon glyphicon-remove text-danger remove" asp-controller="CartPurchase" asp-action="RemoveItemFromCartPurchase" asp-route-lancheId="@item.Lunch.Id">
							</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
						@Model.CartPurchaseTotal.ToString("c")
					</td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Encerrar Pedido</a>
                <a class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Adicionar mais lanches <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Lunch" asp-action="List" asp-route-categoria="Normal">Normal</a></li>
                        <li><a asp-controller="Lunch" asp-action="List" asp-route-categoria="Natural">Natural</a></li>
                    </ul>
                </a>
                <a class="btn btn-success" asp-controller="CartPurchase" asp-action="ClearCart">Limpar Carrinho</a>
            </div>
        </div>
    </div>
